:host {
  display: flex;
  flex-direction: column;
}

.poll-options {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
  gap: 0.5em;
}

.vote-button {
  align-self: flex-end;
}

.voting-progress {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

.option-label {
  font-weight: 600;
}

.option-count {
  height: 1.5em;
  border-radius: 20px;
}
